@import "fonts";

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
// Partie menu navigateur
.nav_menu{
    width: 15%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}